@import '_0-tools/0-tools'
@import url('https://fonts.googleapis.com/css?family=Biryani:300,400,700,900')

/*==================== Helpers ====================*/
.spacer
    width: 100%
    height: 200vh

.strong
    font-weight: 900
    text-transform: uppercase

.light
    font-weight: 300

.sub-title
    text-align: center
    padding: 1rem
    margin: 2em auto
    text-transform: capitalize
    font-weight: 900
    font-size: 3em
    color: lighten($text, 40)

    &:after
        content: ''
        display: block
        width: 0%
        height: 4px
        margin: 0 auto
        background-color: $blue
        transition: width .2s ease

    &:hover
        &:after
            width: 20%

.sticky
    position: fixed
    z-index: 999

/*==================== Resets ====================*/
body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Biryani', sans-serif
    color: $text
    background: $bg-color

.container
    margin: 0 auto

/*==================== Headers ====================*/
.main-header
    width: 100%
    height: 100vh
    background: linear-gradient(135deg, rgba($blue, .9), rgba($green, .9)), url('../img/bg/bg-patt.png'),  url('../img/bg/bg-classroom.png')
        position: center
        size: cover
        attachment: fixed
    overflow: hidden

    // Rectangles ==========
    .rectangles
        position: absolute
        width: 100%
        min-height: 100vh
        top: 10%
        left: 0
        right: 0
        bottom: 0

        .rectangle
            position: absolute
            border-radius: 25% 0 25% 0
            transform: skewX(-15deg)
            @include shadow

        .rectangle-1
            background: $light-blue
            width: 80px
            height: 80px
            top: 20%
            left: 5%

        .rectangle-2
            @include blue-gradient
            width: 220px
            height: 220px
            top: 15%
            right: 5%

        .rectangle-3
            @include red-gradient
            width: 110px
            height: 110px
            left: 60%
            bottom: 5%

        .rectangle-4
            background: $light-blue
            width: 90px
            height: 90px
            right: 5%
            bottom: -5%

        .rectangle-5
            background: $dark-blue url('../img/bg/bg-patt.png')
                size: contain
                position: center
            width: 360px
            height: 360px
            top: 60%
            left: 5%

// Main Navigation ==========
.main-nav
    width: 100%
    background: $dark-blue
    box-shadow: 0 6px 2px rgba(0, 0, 0, .4)

    .nav-item
        margin-right: .5em
        text-align: center

        &:last-child
            margin-right: 0
        
        a
            display: block
            position: relative
            color: $white
            text-decoration: none
            font-weight: 700
            text-transform: uppercase
            font-size: 1.8em
            margin: .5em 0

            &:after
                content: ''
                width: 0%
                display: block
                position: absolute
                bottom: 0
                left: 0
                right: 0
                height: 2px
                margin: 0 auto
                @include red-gradient
                transition: all .2s ease-in-out

        &:hover
            a
                &:after
                    width: 80%

    .brand
        width: 100%
        text-decoration: none
        text-transform: uppercase
        font-weight: 700
        color: $white

        h1
            margin: 0
            padding: 0
.nav-wrap
    width: 100%

.menu
    display: none

.main-lead
    position: absolute
    top: 25%
    left: 0
    right: 0
    bottom: 0
    z-index: 2

    img
        max-width: 100%


.page-title
    margin-top: 5%
    color: $white
    text-align: center

.brand-large
    margin: 0 auto

.page-lead
    font-size: 3em
    font-weight: 300

.cta
    padding: .6rem 1.4rem
    background-color: $white
    text-decoration: none
    text-transform: uppercase
    border-radius: 2rem
    margin: .5em 0
    font-weight: 600
    color: $blue
    background-clip: border-box
    transition: all .4s ease-in-out
    box-sizing: border-box
    

    &:last-child
        background: $acc-blue
        margin: .5em 1rem
        color: $white

.slogan
    padding: 0
    display: block
    font-weight: 300
    font-size: 1.2em
    transform: translateY(-2rem)
    
    &:after
        content: ''
        display: block
        margin: 0 auto
        width: 30%
        height: 1px
        background-color: $white

/*==================== Section Description ====================*/
.section-description
    width: 100%
    min-height: 70vh
    padding: 10% 0
    background: linear-gradient(rgba($white, .9), rgba($white, .9)), url('../img/ppl/ppl-2.jpg')
        position: center
        size: cover
        attachment: fixed

    .description-wrap
        text-align: center
        width: 100%
        height: 100%

        .page-cta
            color: $red
            font-weight: 400
            font-size: 2em
        p
        font-weight: 300
        font-size: 1.6em

        .cta
            font-size: .8em
            font-weight: 300
            line-height: 1em
            box-sizing: border-box
            box-shadow: 0 0 64px 32px rgba($blue, 0)
            transition: all .4s ease

            &:hover
                box-shadow: 0 0 0px -12px rgba($blue, .6)

.card-lg
    padding-bottom: 1rem
    background-color: $white
    @include shadow

/*==================== Section Cursos ====================*/
.section-cursos
    width: 100%
    overflow: hidden

    .row
        &:nth-child(2)
            position: relative

            &:before
                content: ''
                width: 200%
                height: 100%
                position: absolute
                top: 0
                left: -25%
                right: 0
                bottom: 0
                transform: skewY(-15deg)
                @include red-gradient
                z-index: -2

        &:nth-child(5)
            position: relative

            &:before
                content: ''
                width: 200%
                height: 100%
                position: absolute
                top: 0
                left: -25%
                right: 0
                bottom: 0
                transform: skewY(15deg)
                @include blue-gradient
                z-index: -2

    a
        text-decoration: none
        color: $text

    figure
        position: relative
        width: 100%
        height: 416.875px
        overflow: hidden
        margin: 1rem 0
        @include shadow

        &:hover
            img
                width: 110%

            figcaption
                bottom: 0

        img
            width: 100%
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            z-index: -1
            transition: all .4s ease-in-out

        figcaption
            position: absolute
            left: 0
            right: 0
            bottom: -50%
            padding: .5em 1.5rem
            background: $white
            transition: all .4s ease-in-out

            h4
                font-weight: 700

            p
                font-size: .8em
                font-weight: 300

.section-about
    .about
        color: #555
        margin-bottom: 15%

        .blurp-title
            text-align: center
            font-size: 4em
            font-weight: 300
            text-transform: uppercase

            &:after
                content: ''
                display: block
                margin: 0 auto
                width: 20%
                height: 1px
                @include red-gradient
        
        .blurp
            text-align: center
            padding: .5em
            font-weight: 300
            font-size: 1.4em
            line-height: 2.5em


/*==================== Section Contact ====================*/
.section-contact
    min-height: 70vh
    
    .input
        position: relative
        margin-bottom: 2rem

    .bar
        position: relative
        width: 100%
        display: block

        &:before, &:after
            content: ''
            height: 2px
            width: 0
            bottom: 1px
            position: absolute
            background: $purple
            transition: all .2s ease

        &:before
            left: 50%

        &:after
            right: 50%

    .highlight
        position: absolute
        height: 60%
        width: 100%
        top: 25%
        left: 0
        pointer-events: none
        opacity: .5

    label
        color: #999
        font-size: 18px
        font-weight: normal
        position: absolute
        pointer-events: none
        left: 5px
        top: 10px
        transition: all .2s ease

    input[type=text],
    input[type=email],
    textarea
        display: block
        width: 100%
        border: none
        padding: .5em 0
        border-bottom: 1px solid #757575

        &:focus
            outline: none

            ~ label
                top: -20px
                font-size: 14px
                color: $purple

            ~ .bar
                &:before, &:after
                    width: 50%

            ~ .highlight
                animation: inputHighlighter .3s ease

    textarea
        resize: none
        height: 11.6em

    input[type=reset],
    input[type=submit]
        width: 80%
        margin: 1rem auto
        border: none
        border-radius: 4px
        padding: .5em
        color: $white

    input[type=reset]
        @include red-gradient

    input[type=submit]
        @include blue-gradient

/*==================== Footer ====================*/
footer
    background: $purple
    color: $white
    text-align: center
    padding: 2rem 0

    .inner-wrap
        padding: 1rem 3rem
    
    a
        text-decoration: none
        color: lighten($purple, 50)
        display: block

        &:hover
            color: $white

    h2
        @include red-gradient
        @include text-gradient

        &:after
            content: ''
            display: block
            margin: .5em auto
            width: 40%
            height: 1px
            background-color: lighten($purple, 12)

    .text-container
        p
            display: inline-block
            margin: 0
            margin-left: .5em
            position: relative
            bottom: .5em

    .footer-links
        width: 100%
        text-align: left
        margin-left: 30%

    .footer-icon
        max-width: 32px
        display: inline-block

@media screen and (max-width: 62em)

    .main-header
        .rectangles

            .rectangle-1
                top: -90%
                left: 15%

            .rectangle-5
                top: 10%
                left: -15%

@media screen and (max-width: 48em)

    .main-nav
        display: none

    .menu
        display: block
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        margin: 0 auto
        padding: 1rem
        background: $white
        transform: translateY(-100%)
        transition: all .4s ease
        z-index: 99

    .active
        transform: translateY(0%)

        .menu-item
            a
                text-decoration: none
                text-transform: uppercase
                font-size: 2em
                color: $blue
                width: 100%
                text-align: center
                display: block
                margin-top: 10%

                &:after
                    content: ''
                    display: block
                    width: 30%
                    height: 4px
                    margin: 0 auto
                    @include red-gradient

    .menu-btn
        position: fixed
        width: 4rem
        height: 4rem
        background: $white
        top: 1%
        right: 10%
        border-radius: 100%
        z-index: 999

        .line
            content: ''
            display: block
            position: absolute
            top: 30%
            left: 15%
            width: 70%
            height: 4px
            background-color: $blue
            border-radius: 8px
            transition: all .2s ease
            transform-origin: center

            &:nth-child(2)
                top: 50%

            &:nth-child(3)
                top: 70%

    .open
        .line
            width: 0%

            &:nth-child(1),
            &:nth-child(3)
                top: 50%
                width: 70%

            &:nth-child(1)
                transform: rotate(45deg)

            &:nth-child(3)
                transform: rotate(-45deg)

    .main-header
        .rectangles

            .rectangle-1
                top: -90%
                left: 15%

            .rectangle-4
                bottom: 30%

            .rectangle-5
                top: 40%
                left: -10%

@media screen and (max-width: 36em)

    .main-header
        .rectangles

            .rectangle-1
                top: -90%
                left: 15%

            .rectangle-2
                right: 15%

            .rectangle-5
                top: 10%
                left: -50%
