@import '_0-tools/0-tools'
@import url('https://fonts.googleapis.com/css?family=Biryani:300,400,700,900')

.spacer
    width: 100%
    height: 200vh

body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Biryani', sans-serif
    color: #212121

.container
    margin: 0 auto

.main-header
    width: 100%
    height: 100vh
    background: url('/img/bg/bg-patt.png'), linear-gradient(135deg, rgba($blue, .9), rgba($green, .9)),  url('/img/bg/bg-classroom.png')
        position: center
        size: cover
        attachment: fixed

.rectangles
    position: relative
    width: 100%
    height: 50vh

    .rectangle
        position: absolute
        border-radius: 25% 0 25% 0
        transform: skewX(-20deg)
        @include shadow

    .rectangle-1
        background: $light-blue
        width: 80px
        height: 80px
        top: 0
        left: 0
        z-index: 2

    .rectangle-2
        background: linear-gradient(135deg, $blue, $acc-blue)
        width: 220px
        height: 220px
        top: 10%
        right: -50%
        z-index: 2

    .rectangle-3
        background: linear-gradient(135deg, $red 40%, $orange)
        width: 110px
        height: 110px
        left: 5%
        bottom: 0
        z-index: 2

    .rectangle-4
        background: $light-blue
        width: 90px
        height: 90px
        right: -20%
        bottom: -10%
        z-index: 2

    .rectangle-5
        background: $dark-blue url('/img/bg/bg-patt.png')
            size: cover
            position: center
            attachment: fixed
        width: 360px
        height: 360px
        top: 0
        left: 0
        right: 0
        bottom: 0

.main-nav
    width: 100%
    height: auto
    background: $dark-blue
    box-shadow: 0 6px 2px rgba(0, 0, 0, .4)

    .nav-item
        padding: 1rem
        margin-right: .5em
        text-align: center

        &:last-child
            margin-right: 0
        
        a
            text-decoration: none
            color: $white
            font-weight: 500
            text-transform: uppercase

            &:after
                content: ''
                width: 0%
                display: block
                height: 2px
                margin: .5em auto
                background: linear-gradient(135deg, $red, $orange)
                transition: all .2s ease-in-out

        &:hover
            a
                &:after
                    width: 80%

.page-title
    margin-top: 7.5%
    color: $white

.brand-large
    font-size: 4em
    font-weight: 900

.page-lead
    font-size: 1.4em

.cta
    padding: .6rem 1.4rem
    background-color: $white
    text-decoration: none
    text-transform: uppercase
    border-radius: 2rem
    margin: .5em 0
    font-weight: 600
    color: $blue

    &:last-child
        margin: .5em 1rem
        color: $red

.brand
    font-weight: 900
    font-size: 2em
    color: $white
    text-decoration: none
    margin-top: 1rem
    width: 100%
    height: 100%
    display: inline-block

.section-description
    width: 100%
    height: 70vh
    padding-top: 10%
    background: linear-gradient(rgba($white, .9), rgba($white, .9)), url('/img/bg/bg-section.png')

footer
    background: $purple
    color: $white
    text-align: center
    padding: 2rem 0

    .inner-wrap
        padding: 1rem 3rem
        @include shadow

    .text-container
        border-left: 1px solid rgba($white, .6)
        border-right: 1px solid rgba($white, .6)

.img-group
    position: relative
    width: 100%
    height: 100%

    img
        position: absolute
        @include shadow

        &:last-child
            top: 30%
            left: 30%

.description-wrap
    h2
        font-weight: 400
        font-size: 1.8em
    p
        text-align: center

.strong
    font-weight: 900
    text-transform: uppercase

.light
    font-weight: 300