footer
    .container
        .inner-wrap
            .row.middle-lg
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .text-container
                        h2 Direccion
                        p Panamá, Ciudad de Panamá, Perejil, a lado de la gasolinera DELTA, Edificio Don Raúl.

                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .text-container
                        h2 Enlaces
                        a(href="//www.facebook.com/CCTPanama/") Facebook
                        a(href="//www.instagram.com/cctpanama/") Instagram

                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .text-container
                        h2 Contactos
                        a(href="cel:+507225-7855") +507225-7855
                        a(href="cel:+507391-1420") +507391-1420
                        a(href="cel:+5076941-6073") +5076941-6073