footer
    .container
        .inner-wrap
            .row.top-lg
                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .text-container
                        h2 Dirección
                        p Panamá, Ciudad de Panamá, Perejil, al lado de la gasolinera DELTA, Edificio Don Raúl.

                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .text-container
                        h2 Enlaces
                        .footer-links
                            a(href="//facebook.com/CCTPanama/") 
                                img.footer-icon(src="img/icons/facebook.svg")
                                p Facebook
                            a(href="//instagram.com/cctpanama/")
                                img.footer-icon(src="img/icons/instagram.svg")
                                p Instagram
                            a(href="//twitter.com/@cct_panama")
                                img.footer-icon(src="img/icons/twitter.svg")
                                p Twitter

                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .text-container
                        h2 Contactos
                        a(href="cel:+507225-7855") 
                            img.footer-icon(src="img/icons/phone-talk.svg")
                            p (+507) 225-7855
                        a(href="cel:+507391-1420")
                            img.footer-icon(src="img/icons/phone-talk.svg")
                            p (+507) 391-1420
                        a(href="cel:+5076941-6073")
                            img.footer-icon(src="img/icons/whatsapp.svg")
                            p (+507) 6941-6073