header.main-header
    nav.main-nav
        .container
            .row
                .col-xs-12.col-sm-2.col-md-2.col-lg-2
                    a(href="#").brand cct panama

                .col-xs-12.col-sm-10.col-md-10.col-lg-10
                    nav
                        a(href="#") item-1
                        a(href="#") item-2
                        a(href="#") item-1
    .container
        .row
            .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .main-lead
                    h1.brand-large
                    p.page-lead
                    a(href="#").cta contactos
                    a(href="#").cta saber mas

            .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .rectangles
                    .rectangle-1.rectangle
                    .rectangle-2.rectangle
                    .rectangle-3.rectangle
                    .rectangle-4.rectangle
                    .rectangle-5.rectangle