header.main-header
    nav.main-nav
        .container
            .row.end-xs.end-sm.end-md.end-lg.middle-md.middle-sm
                .col-xs-12.col-sm-2.col-md-2.col-lg-2
                    a(href="index.html").brand CCTP

                .col-xs-12.col-sm-10.col-md-10.col-lg-10
                    .nav-menu
                    .nav-items
                        .row.end-xs.end-sm.end-md.end-lg.middle-md.middle-sm
                            .col-xs-12.col-sm-2.col-md-2.col-lg-2
                                .nav-item
                                    a(href="cursos.html") CURSOS
                            .col-xs-12.col-sm-2.col-md-2.col-lg-2
                                .nav-item
                                    a(href="nosotros.html") NOSOTROS
                            .col-xs-12.col-sm-2.col-md-2.col-lg-2
                                .nav-item
                                    a(href="contactos.html") CONTACTO
    .page-title
        .container
            .row.middle-xs.middle-sm.middle-md.middle-lg
                .col-xs-12.col-sm-12.col-md-8.col-lg-8
                    .main-lead
                        h1.brand-large CCT Panama
                        p.page-lead <span class="strong">capacitate</span> <span class="light">para</span> <span class="strong">triunfar<span>
                        a(href="contactos.html").cta contactos
                        a(href="cursos.html").cta saber mas

                .col-xs-12.col-sm-4.col-md-4.col-lg-4
                    .rectangles
                        .rectangle-1.rectangle
                        .rectangle-2.rectangle
                        .rectangle-3.rectangle
                        .rectangle-4.rectangle
                        .rectangle-5.rectangle