header.main-header
   
    include navbar.pug

    .page-title
        .container
            .row.middle-xs.middle-sm.middle-md.middle-lg
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .main-lead
                        h1.brand-large
                            img(src="img/logo.png", alt="Centro de Capacitación Técnica Panamá")
                        p.page-lead Centro de Capacitación Técnica Panamá
                        a(href="contactos.html").cta contactos
                        a(href="cursos.html").cta saber más

    .rectangles
        .rectangle-1.rectangle
        .rectangle-2.rectangle
        .rectangle-3.rectangle
        .rectangle-4.rectangle
        .rectangle-5.rectangle