doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Centro de Capacitaci&oacute;n T&eacute;cnica | Panam&aacute;
		meta(name="description", content="CCT Panamá le ofrece variedad de cursos: Mecánica Automotriz, Electricidad Automotriz, Inyección electrónica, ire acondicionado comercial y automotriz, Electricidad Residencial, Soldadura, Electricidad Industrial, Maestro de obras, PLC, Electrónica General, Reparación de celulares, Plomería, Reparación de Computadoras, Ingles Conversacional, Computación, Belleza profesional")
		link(rel="icon" href="img/favicon.png" type="image/png")
		meta(name="author", content="Alejandro H Tadino M - Clicnovo")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel='stylesheet' href='css/styles.min.css')
		script(src=src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
	body

		include mixin.pug

		//- Main Header ----------------------------------------
		include header.pug

		//- Main Content ----------------------------------------
		block content

		//- Main Footer ----------------------------------------
		include footer.pug

		//- Scripts ----------------------------------------
		//-script.
			jQuery || <script src="js/jquery.min.js"></script>
		script(src="js/functions.min.js")