mixin curso(i, curso)
	.col-xs-12.col-sm-12.col-md-4.col-lg-4
		a(href="contactos.html", data-curso=curso)
			figure.card
				img(src='img/cursos/curso-' + i + '.png', alt='')
				figcaption
					h4=curso
					p Centro De Capacitación Técnica Panamá
					p Te capacitamos para triunfar