nav.main-nav
	.container
		.row.end-xs.end-sm.end-md.end-lg.middle-md.middle-sm
			.col-xs-12.col-sm-3.col-md-3.col-lg-3
				a(href="index.html").brand
					img(src="img/logo.png")
						
			.col-xs-12.col-sm-9.col-md-9.col-lg-9
				.nav-menu
				.nav-items
					.row.end-xs.end-sm.end-md.end-lg.middle-md.middle-sm
						.col-xs-12.col-sm-2.col-md-2.col-lg-2
							.nav-item
								a(href="index.html") inicio
						.col-xs-12.col-sm-2.col-md-2.col-lg-2
							.nav-item
								a(href="cursos.html") cursos
						.col-xs-12.col-sm-2.col-md-2.col-lg-2
							.nav-item
								a(href="nosotros.html") nosotros
						.col-xs-12.col-sm-2.col-md-2.col-lg-2
							.nav-item
								a(href="contactos.html") contactos
								
.menu
	.container
		.row
			.col-xs-12.col-sm-12
				.menu-item
					a(href="index.html") CCTP
				.menu-item
					a(href="cursos.html") cursos
				.menu-item
					a(href="nosotros.html") nosotros
				.menu-item
					a(href="contactos.html") contactos

.menu-btn
	span.line
	span.line
	span.line