extends _0-includes/layout-2.pug
block content
    - var cursos = ["Mecánica Automotriz", "Electricidad Residencial", "Soldadura", "Aire Acondicionado", "Electricidad Industrial", "Electrónica General", "Reparación de Celulares", "Maestro de Obras", "PLC", "Plomeía", "Aire Acondicionado Automotriz", "Electricidad Automotriz", "Inyección Electrónica", "Computación", "Reparación de Computadoras", "Belleza Profesional", "Uñas Acrílicas y Gel", "Inglés Conversacional", "Estética Canina", "Energía Solar"]

    .section-contact
        .container
            h1.sub-title contactos
            
            form(action="process.php", id="formulario", method="POST").row
                .col-xs-12.col-sm-6.col-md-4.col-lg-6.col-sm-offset-3.col-md-offset-4.col-lg-offset-3
                    .input
                        select(required, name="curso", form="formulario")
                            each val in cursos
                                option(value=val)= val
                    .input
                        input(type="text", required, name="nombre")
                        span.bar
                        span.highlight
                        label(for="nombre") Nombre
                    .input
                        input(type="email", required, name="email")
                        span.bar
                        span.highlight
                        label(for="email") E-mail
                .col-xs-12.col-sm-6.col-md-6.col-lg-6.col-sm-offset-3.col-md-offset-3.col-lg-offset-3
                    .input
                        textarea(name="mensaje",  required)
                        span.bar
                        span.highlight
                        label(for="email") Mensaje
                .col-xs-12.col-sm-2.col-md-2.col-lg-2
                    input(type="reset", class="reset", value="Reset").contact-btn
                    input(type="submit", class="enviar", value="Enviar").contact-btn