extends _0-includes/layout-2.pug
block content
    .section-cursos

        .container
            h1.sub-title cursos

            .row
                +curso(1, "Mecánica Automotriz")
                +curso(2, "Electricidad Residencial")
                +curso(3, "Soldadura")

            .row
                +curso(4, "Aire Acondicionado")
                +curso(5, "Electricidad Industrial")
                +curso(6, "Electrónica General")

            .row
                +curso(7, "Reparación de Celulares")
                +curso(8, "Maestro de Obras")
                +curso(9, "PLC")

            .row
                +curso(10, "Plomeía")
                +curso(11, "Aire Acondicionado Automotriz")
                +curso(12, "Electricidad Automotriz")

            .row
                +curso(13, "Inyección Electrónica")
                +curso(14, "Computación")
                +curso(15, "Reparación de Computadoras")

            .row
                +curso(16, "Belleza Profesional")
                +curso(17, "Uñas Acrílicas y Gel")
                +curso(18, "Inglés Conversacional")
            
            .row
                +curso(19, "Estética Canina")