extends _0-includes/layout.pug
block content
    .section-cursos
        h1 cursos

        .container
            .row
                +curso(1)
                +curso(2)
                +curso(3)

            .row
                +curso(4)
                +curso(5)
                +curso(6)

            .row
                +curso(7)
                +curso(8)
                +curso(9)

            .row
                +curso(10)
                +curso(11)
                +curso(12)

            .row
                +curso(13)
                +curso(14)
                +curso(15)

            .row
                +curso(16)
                +curso(17)
                +curso(18)
            
            .row
                +curso(19)