extends _0-includes/layout.pug
block content
    .section-description
        .container
            .row.center-md.center-lg.middle-md.middle-lg
                .col-xs-12.col-sm-12.col-md-12.col-lg-12

                    .description-wrap
                        h2 Te capacitamos para triunfar
                        p El centro de capacitación técnica a capacitado a la fecha cientos de personas en diferentes especialidades técnicas incorporando al mercado laboral panameño mano de obra calificada en diversas áreas.
                        a(href="cursos.html").cta nuestros cursos