extends _0-includes/layout.pug
block content
    .section-description
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    .card-lg
                        .img-group
                            img(src="img/ppl/ppl-2.jpg")

                        .description-wrap
                            h2 Capacitate para triunfar
                            p El centro de capacitación técnica a capacitado a la fecha cientos de personas en diferentes especialidades técnicas incorporando al mercado laboral panameño mano de obra calificada en diversas áreas.