extends _0-includes/layout-2.pug
block content
    .section-about
        .container
            .row
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    h1.sub-title nosotros

                    .about
                        h4.blurp-title mission
                        p.blurp Somos una institución de formación y/o capacitación de mano de obra calificada para el mercado laboral, que a través de cursos teóricos – prácticos, formamos personas competentes para dar respuesta al desarrollo del país. Apostamos a la inclusión y difusión de los conocimientos, apoyamos el desarrollo de la nación, buscando el mejoramiento de la calidad de vida de los ciudadanos, impulsados por la tecnología moderna.

                        h4.blurp-title vision
                        p.blurp En el término de la distancia convertirnos en una de las instituciones técnicas privadas más importante del país, con reconocimiento nacional e internacional, ejerciendo nuestra actividad con vocación y esfuerzo a la excelencia, basados en el aprendizaje por competencia con un equipo humano profesional y un modelo de administración innovador, apoyado con instalaciones en tecnología de punta para el desarrollo personal, vocacional y profesional de las personas, familias, y del país. 