$white: #FAFAFA
$blue: #0153a4
$acc-blue: #3e9efe
$green: #018ea4
$light-blue: #91B2FF
$red: #ff5454
$orange: #ff974e
$dark-blue: #292f7b
$purple: #242b5e
$bg-color: #eef6ff
$text: #444

@mixin shadow
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .4)

@mixin blue-gradient
    background: linear-gradient(135deg, $blue, $acc-blue)

@mixin red-gradient
    background: linear-gradient(135deg, $red 40%, $orange)

@mixin text-gradient
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    -moz-background-clip: text
    -moz-text-fill-color: transparent
    -o-background-clip: text
    -o-text-fill-color: transparent

@keyframes inputHighlighter
    from
        background: $purple
    to
        width: 0
        background: transparent

/*==================== Helpers ====================*/
.spacer
    width: 100%
    height: 200vh

.strong
    font-weight: 900
    text-transform: uppercase

.light
    font-weight: 300

.sub-title
    text-align: center
    padding: 1rem
    margin: 2em auto
    text-transform: capitalize
    font-weight: 900
    font-size: 3em
    color: lighten($text, 40)

    &:after
        content: ''
        display: block
        width: 0%
        height: 4px
        margin: 0 auto
        background-color: $blue
        transition: width .2s ease

    &:hover
        &:after
            width: 20%

.sticky
    position: fixed
    z-index: 999

/*==================== Resets ====================*/
body
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Biryani', sans-serif
    color: $text
    background: $bg-color

.container
    margin: 0 auto